// Override Bootstrap defaults safely
@import "../css/main";


.card-vista-blue {
  @extend .card;
  @extend .content-inside;

  background-color: white;
  color: #212529;
  border: 1px solid #0077e8;
  border-radius: 6px;

  .card-header {
    @extend .title-vista-blue;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
  }

  .card-title {
    @extend .subtitle-vista-blue;
    margin: 0;
  }

  .card-text {
    @extend .text;
  }

  hr.spacing {
    @extend .spacing;
  }

  .card-body {
    padding: 1.5rem;
  }
}