<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project Showcase - Windows 7 Theme</title>
</head>
<body th:style="'background:url(' + @{/images/miscellaneous_5.jpg} + ');'">
<div class="container">
    <div class="title-vista-blue mb-4">
        <h1>My Projects</h1>
    </div>

    <div class="row g-4">
        <div class="col-md-6 col-lg-4" th:each="project: ${projects}">
            <div class="card-vista-blue h-100">
                <div class="card-header">
                    <h1 th:text="${project.title}">Title</h1>
                </div>
                <img th:src="@{/images/EjOHWqqVgAAg_VB.jpg}" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card-title pb-3" th:text="${project.description}"></div>
                    <a class="button text">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/main.js}"></script>
</html>